<html>


<head>

  <meta charset="utf-8">
  <title>poem page </title>
  <script src="js/poem.js"></script>
  <link rel="stylesheet" href="css/postpagepoems.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

<body>
 
  <h1>Poems</h1>
  <div class="navbar">

    <ul>
      <li><a href="logngpage">Logout</a></li>
      <li><a href="postshortstorypage">Short Stories</a></li>
      <li><a href="postessaypage">Essays</a></li>
      <li><a href="postpagepoems">Poems</a></li>
      <li><a  href="deladmin">Admin</a></li>

    </ul>
  </div>

  <br><br><br>
  <div class="form">
    <form action="/poementring" method="POST">
      <input class="text" type="text" placeholder="Title" name="title"></br>
      <textarea id="poem" name="poem" rows="4" cols="50" placeholder="whats on your mind..."></textarea>
      <button class="buttonssubmit" type="submit">Post</button>
    </form>
  </div>
  <br><br><br>



  <% if(poems.length> 0){ %>
    <% for(var i=0;i<poems.length;i++){ %>
     
      <div class="wrapper">
<p>post id: <%= poems[i].poemid %></p>
        <h2>name:- </h2>
        <%- poems[i].username %>

          <h2>poems:- </h2>
          <%- poems[i].poem %>

      </div>
      <table>
       
        <tr>
          <% var count=0 %>
          <th> <% for(var j=0;j<poemlike.length;j++){ %>

            <%if ((poemlike[j].poemid) == (poems[i].poemid) ){ %>
              <%  count++ %>
             
          <% } %>

          <% } %>
           <%- count %>
          Liked    </th>
           <th></th>
           <th> 
            <form action="/poemslike" method="POST">
              <input class="postid" type="hidden" value=" <%= poems[i].poemid %>" placeholder="Title" name="postid">

              <button class="color1" type="submit"  id="jkk1" onclick="myFunction1()" >
               Like
              </button>
            </form>

            <form action="/poemsdislike" method="POST">
              <input class="postid" type="hidden" value=" <%= poems[i].poemid %>" placeholder="Title" name="postid">

              <button class="color1" type="submit"  id="jkk2" onclick="myFunction2()" >
                disLike
               </button>
              </form>

           
        </th
        ><th></th>
        <th> 
          <% var count=0 %>
          <% for(var j=0;j<poemdislike.length;j++){ %>

            <%if ((poemdislike[j].poemid) == (poems[i].poemid) ){ %>
              <%  count++ %>
       
          <% } %>
          <% } %>
          <%- count %>
          Disliked </th>
        </tr>
        
      </table>
     
      


      <form action="/poemscomment" method="POST">

        <input class="postid" type="hidden" value=" <%= poems[i].poemid %>" placeholder="Title" name="postid"></br>
        <textarea id="poemcomment" name="comment" rows="4" cols="50"
          placeholder="Enter youe comment here..."></textarea>
        <button class="buttonssubmit" type="submit">Post</button>
      </form>
      <br><br>


      <br>

      
        <% for(var j=0;j<poemcomment.length;j++){ %>

          <%if ((poemcomment[j].postid) == (poems[i].poemid)){ %>
		  <%- poemcomment[j].commentid%>
        <%- poemcomment[j].username %>
        
        <%- poemcomment[j].comment %>
        <br>
        <% } %>
        <% } %>



      <% } %>
        <% } else { %>
          <h1>poems data not found</h1>
          <% } %>

            <br>
           


</body>

</html>